svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  transition: all 0.75s;
}

.graph path {
  fill: none;
  opacity: 0.4;
  transition: all 0.75s;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  transition: d 0.75s;
}

.axis text {
    fill:black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
pre {
  width: 100%;
  height: 300px;
  margin: 6px 12px;
  tab-size: 40;
  font-size: 10px;
  overflow: auto;
}

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.options .graphTitle {
  flex: 100%;
  text-align: center;
  font-size: 1.2em;
}

.options .button {
  margin: 5px;
}
